@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oswald', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Oswald', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Oswald', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #16fae9 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #16fae9;
  border-color: #16fae9;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #04bfb1;
  border-color: #04bfb1;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #04bfb1 !important;
  border-color: #04bfb1 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #04a69a;
  color: #04a69a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #16fae9;
  border-color: #16fae9;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #16fae9 !important;
  border-color: #16fae9 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #16fae9 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #16fae9;
}
.btn-social:hover {
  background: #16fae9;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #16fae9;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #16fae9;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #16fae9;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #16fae9;
}
.lead a,
.lead a:hover {
  color: #16fae9;
}
.lead blockquote {
  border-color: #16fae9;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #defefc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #16fae9;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Oswald', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Oswald', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Oswald', sans-serif;
}
.features6 .description {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.count,
.counter-title {
  font-family: 'Oswald', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #16fae9;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Oswald', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Oswald', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Oswald', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Oswald', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Oswald', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Oswald', sans-serif;
}
.extHeader13 .number {
  font-family: 'Oswald', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Oswald', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Oswald', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Oswald', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #16fae9;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Oswald', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Oswald', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Oswald', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #16fae9;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #16fae9;
}
.extCounters2 h4 {
  font-family: 'Oswald', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Oswald', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Oswald', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #16fae9;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #16fae9;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #16fae9;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Oswald', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Oswald', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #16fae9;
}
.extAccordion1 .panel-heading a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #16fae9;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #16fae9;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #16fae9;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #16fae9;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Oswald', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Oswald', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Oswald', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Oswald', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #16fae9 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #16fae9;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #16fae9;
}
.theme-border {
  border: 1px solid #16fae9;
}
#extHeader15-0 P {
  color: #ffffff;
}
#header3-1x .mbr-section-title,
#header3-1x .mbr-section-subtitle {
  text-align: center;
}
#header3-1x H3 {
  color: #2b0680;
}
#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1 .link {
  font-size: 0.95rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #16fae9;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #1b044f;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #260571!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #2b0680;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#content7-1y P {
  color: #2b0680;
  font-family: 'Oswald', sans-serif;
}
#features3-3 H4 {
  color: #0ddbec;
}
#features3-3 H5 {
  color: #ffffff;
}
#features3-3 P {
  color: #ffffff;
  text-align: left;
}
#social-buttons3-29 .mbr-section-title,
#social-buttons3-29 .btn-social {
  color: #fff;
}
#form1-2c .form-control-label {
  color: #232323;
}
#contacts1-d STRONG {
  color: #00a885;
}
#menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4 .navbar-caption {
  color: #ffffff;
}
#menu-4 .navbar-toggler {
  color: #ffffff;
}
#menu-4 .close-icon::before,
#menu-4 .close-icon::after {
  background-color: #ffffff;
}
#menu-4 .link,
#menu-4 .dropdown-item {
  color: #ffffff;
}
#menu-4 .link {
  font-size: 0.75rem;
}
#menu-4 .dropdown-item,
#menu-4 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4 .link:hover,
#menu-4 .dropdown-item:hover,
#menu-4 .link:focus,
#menu-4 .dropdown-item:focus {
  color: #16fae9;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-menu {
  background: #0e0e0e;
}
#menu-4 .nav-dropdown-sm .link:focus,
#menu-4 .nav-dropdown-sm .link:hover,
#menu-4 .nav-dropdown-sm .dropdown-item:focus,
#menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4 .navbar,
#menu-4 .nav-dropdown-sm,
#menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4 .bg-color.transparent.opened .link:hover,
#menu-4 .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#header3-6 .mbr-section-title,
#header3-6 .mbr-section-subtitle {
  text-align: center;
}
#header3-6 H3 {
  color: #3d8eb9;
}
#content7-7 P {
  color: #232323;
}
#social-buttons3-8 .mbr-section-title,
#social-buttons3-8 .btn-social {
  color: #fff;
}
#content1-35 DIV {
  color: #b8312f;
}
#contacts1-d STRONG {
  color: #00a885;
}
#menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-e .navbar-caption {
  color: #ffffff;
}
#menu-e .navbar-toggler {
  color: #ffffff;
}
#menu-e .close-icon::before,
#menu-e .close-icon::after {
  background-color: #ffffff;
}
#menu-e .link,
#menu-e .dropdown-item {
  color: #ffffff;
}
#menu-e .link {
  font-size: 0.75rem;
}
#menu-e .dropdown-item,
#menu-e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-e .link:hover,
#menu-e .dropdown-item:hover,
#menu-e .link:focus,
#menu-e .dropdown-item:focus {
  color: #16fae9;
}
#menu-e .link[aria-expanded="true"],
#menu-e .dropdown-menu {
  background: #0e0e0e;
}
#menu-e .nav-dropdown-sm .link:focus,
#menu-e .nav-dropdown-sm .link:hover,
#menu-e .nav-dropdown-sm .dropdown-item:focus,
#menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-e .navbar,
#menu-e .nav-dropdown-sm,
#menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-e .bg-color.transparent.opened .link:hover,
#menu-e .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-e .link[aria-expanded="true"],
#menu-e .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#header3-g .mbr-section-title,
#header3-g .mbr-section-subtitle {
  text-align: center;
}
#social-buttons3-i .mbr-section-title,
#social-buttons3-i .btn-social {
  color: #fff;
}
#buttons1-34 .btn {
  font-size: 14px;
}
#contacts1-d STRONG {
  color: #00a885;
}
#menu-n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-n .navbar-caption {
  color: #ffffff;
}
#menu-n .navbar-toggler {
  color: #ffffff;
}
#menu-n .close-icon::before,
#menu-n .close-icon::after {
  background-color: #ffffff;
}
#menu-n .link,
#menu-n .dropdown-item {
  color: #ffffff;
}
#menu-n .link {
  font-size: 0.75rem;
}
#menu-n .dropdown-item,
#menu-n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-n .link:hover,
#menu-n .dropdown-item:hover,
#menu-n .link:focus,
#menu-n .dropdown-item:focus {
  color: #16fae9;
}
#menu-n .link[aria-expanded="true"],
#menu-n .dropdown-menu {
  background: #0e0e0e;
}
#menu-n .nav-dropdown-sm .link:focus,
#menu-n .nav-dropdown-sm .link:hover,
#menu-n .nav-dropdown-sm .dropdown-item:focus,
#menu-n .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-n .navbar,
#menu-n .nav-dropdown-sm,
#menu-n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-n .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-n .bg-color.transparent.opened .link:hover,
#menu-n .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-n .link[aria-expanded="true"],
#menu-n .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#header3-p .mbr-section-title,
#header3-p .mbr-section-subtitle {
  text-align: center;
}
#social-buttons3-r .mbr-section-title,
#social-buttons3-r .btn-social {
  color: #fff;
}
#features1-u .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2969b0;
}
#features1-u .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
#features1-u .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #ffffff;
}
#features1-u .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-u .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#features1-v .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-v .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-v .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #ffffff;
}
#features1-v .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
#features1-v .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
}
#menu-w .navbar-toggler {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #ffffff;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #ffffff;
}
#menu-w .link {
  font-size: 0.75rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #16fae9;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #0e0e0e;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#header3-y .mbr-section-title,
#header3-y .mbr-section-subtitle {
  text-align: center;
}
#social-buttons3-10 .mbr-section-title,
#social-buttons3-10 .btn-social {
  color: #fff;
}
#features1-13 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2969b0;
}
#features1-13 .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
#features1-13 .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #ffffff;
}
#features1-13 .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-13 .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#features1-14 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-14 .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-14 .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #ffffff;
}
#features1-14 .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
#features1-14 .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}






@primaryColor: #16fae9;
@secondaryColor: #bfcecb;
@successColor: #90a878;
@infoColor: #7e9b9f;
@warningColor: #f3c649;
@dangerColor: #f28281;
@titleFont: 'Oswald', sans-serif;
@subtitleFont: 'Lora', serif;
@textFont: 'Yanone Kaffeesatz', sans-serif;
@isRoundedButtons: true;
@isAnimatedOnScroll: true;
@isScrollToTopButton: true;
@isRtl: false;

#menu-15 {
.hide-buttons .nav-btn {
	display: none !important;
}
.navbar-caption {
	color: #ffffff;
}
.navbar-toggler {
	color: #ffffff;
}
.close-icon::before, .close-icon::after {
	background-color: #ffffff;
}
.link, .dropdown-item {
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
}
.link {
	font-size: 0.95rem;
}
.dropdown-item, .nav-dropdown-sm .link {
	font-size: 1.029rem;
}
.link:hover, .dropdown-item:hover, .link:focus, .dropdown-item:focus {
	color: @primaryColor;
}
.link[aria-expanded="true"], .dropdown-menu {
	background: #1b044f;
}
.nav-dropdown-sm .link:focus, .nav-dropdown-sm .link:hover, .nav-dropdown-sm .dropdown-item:focus, .nav-dropdown-sm .dropdown-item:hover {
	background: #260571!important;
}
.navbar, .nav-dropdown-sm, .nav-dropdown-sm .link[aria-expanded="true"], .nav-dropdown-sm .dropdown-menu {
	background: #2b0680;
}
.bg-color.transparent .link {
	color: #ffffff;
	transition: none;
}
.bg-color.transparent.opened .link {
	transition: color .2s ease-in-out;
}
.bg-color.transparent.opened .link:hover, .bg-color.transparent.opened .link:focus {
	color: @primaryColor;
}
.link[aria-expanded="true"], .dropdown-item[aria-expanded="true"] {
	color: #16fae9!important;
}
}

#header1-16 {
}

#header3-17 {
.mbr-section-title, .mbr-section-subtitle {
	text-align: center;
}
H3 {
	color: #2b0680;
	font-family: 'Oswald', sans-serif;
}
SMALL {
	color: #2b0680;
}
}

#content7-18 {
P {
	color: #2b0680;
}
}

#social-buttons3-19 {
.mbr-section-title, .btn-social {
	color: #fff;
}
}

#extSlider2-1a {
}

#header1-1b {
}

#features1-1c {
.striped .mbr-cards-col:nth-child(2n+1) {
	background-color: #2969b0;
}
.mbr-cards-col:nth-child(odd) .card-subtitle {
	color: #ffffff;
}
.mbr-cards-col:nth-child(even) .card-subtitle {
	color: #ffffff;
}
.mbr-cards-col:nth-child(even) .card-title {
	color: #ffffff;
}
.mbr-cards-col:nth-child(even) .card-text {
	color: #ffffff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.mbr-cards-col:nth-child(odd) .card-text {
	text-align: left;
	font-family: 'PT Sans Narrow', sans-serif;
}
}

#features1-1d {
.striped .mbr-cards-col:nth-child(2n+1) {
	background-color: #000000;
}
.mbr-cards-col:nth-child(even) .card-title {
	color: #ffffff;
}
.mbr-cards-col:nth-child(even) .card-subtitle {
	color: #ffffff;
	text-align: left;
}
.mbr-cards-col:nth-child(odd) .card-subtitle {
	color: #ffffff;
	text-align: left;
}
.mbr-cards-col:nth-child(even) .card-text {
	color: #ffffff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: left;
}
.mbr-cards-col:nth-child(odd) .card-text {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: left;
}
.mbr-cards-col:nth-child(odd) .card-text B {
	color: #ed0e0b;
	text-align: center;
}
}

#header5-23 {
.mbr-section-title {
	color: #000;
}
.mbr-section-lead {
	color: #9c9a9a;
}
<iframe src="https://embed.spotify.com/?uri=spotify%3Aartist%3A46mFShagVGedAtk3aIxg4l" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>}
#menu-1f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1f .navbar-caption {
  color: #ffffff;
}
#menu-1f .navbar-toggler {
  color: #ffffff;
}
#menu-1f .close-icon::before,
#menu-1f .close-icon::after {
  background-color: #ffffff;
}
#menu-1f .link,
#menu-1f .dropdown-item {
  color: #ffffff;
}
#menu-1f .link {
  font-size: 0.75rem;
}
#menu-1f .dropdown-item,
#menu-1f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1f .link:hover,
#menu-1f .dropdown-item:hover,
#menu-1f .link:focus,
#menu-1f .dropdown-item:focus {
  color: #16fae9;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-menu {
  background: #0e0e0e;
}
#menu-1f .nav-dropdown-sm .link:focus,
#menu-1f .nav-dropdown-sm .link:hover,
#menu-1f .nav-dropdown-sm .dropdown-item:focus,
#menu-1f .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1f .navbar,
#menu-1f .nav-dropdown-sm,
#menu-1f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1f .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1f .bg-color.transparent.opened .link:hover,
#menu-1f .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#header3-36 .mbr-section-title,
#header3-36 .mbr-section-subtitle {
  text-align: center;
}
#header3-36 H3 {
  color: #553982;
}
#social-buttons3-1j .mbr-section-title,
#social-buttons3-1j .btn-social {
  color: #fff;
}
#contacts1-d STRONG {
  color: #00a885;
}




#menu-1o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1o .navbar-caption {
  color: #ffffff;
}
#menu-1o .navbar-toggler {
  color: #ffffff;
}
#menu-1o .close-icon::before,
#menu-1o .close-icon::after {
  background-color: #ffffff;
}
#menu-1o .link,
#menu-1o .dropdown-item {
  color: #ffffff;
}
#menu-1o .link {
  font-size: 0.75rem;
}
#menu-1o .dropdown-item,
#menu-1o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1o .link:hover,
#menu-1o .dropdown-item:hover,
#menu-1o .link:focus,
#menu-1o .dropdown-item:focus {
  color: #16fae9;
}
#menu-1o .link[aria-expanded="true"],
#menu-1o .dropdown-menu {
  background: #0e0e0e;
}
#menu-1o .nav-dropdown-sm .link:focus,
#menu-1o .nav-dropdown-sm .link:hover,
#menu-1o .nav-dropdown-sm .dropdown-item:focus,
#menu-1o .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1o .navbar,
#menu-1o .nav-dropdown-sm,
#menu-1o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1o .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1o .bg-color.transparent.opened .link:hover,
#menu-1o .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-1o .link[aria-expanded="true"],
#menu-1o .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#content7-1r P {
  color: #2b0680;
}
#social-buttons3-1s .mbr-section-title,
#social-buttons3-1s .btn-social {
  color: #fff;
}
#features1-1v .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2969b0;
}
#features1-1v .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
#features1-1v .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #ffffff;
}
#features1-1v .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-1v .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#features1-1v .mbr-cards-col:nth-child(odd) .card-text {
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}
#features1-1w .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-1w .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-1w .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #ffffff;
  text-align: left;
}
#features1-1w .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
  text-align: left;
}
#features1-1w .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: left;
}
#features1-1w .mbr-cards-col:nth-child(odd) .card-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: left;
}
#features1-1w .mbr-cards-col:nth-child(odd) .card-text B {
  color: #ed0e0b;
  text-align: center;
}
#contacts1-d STRONG {
  color: #00a885;
}
#menu-2d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2d .navbar-caption {
  color: #ffffff;
}
#menu-2d .navbar-toggler {
  color: #ffffff;
}
#menu-2d .close-icon::before,
#menu-2d .close-icon::after {
  background-color: #ffffff;
}
#menu-2d .link,
#menu-2d .dropdown-item {
  color: #ffffff;
}
#menu-2d .link {
  font-size: 0.75rem;
}
#menu-2d .dropdown-item,
#menu-2d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2d .link:hover,
#menu-2d .dropdown-item:hover,
#menu-2d .link:focus,
#menu-2d .dropdown-item:focus {
  color: #16fae9;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-menu {
  background: #0e0e0e;
}
#menu-2d .nav-dropdown-sm .link:focus,
#menu-2d .nav-dropdown-sm .link:hover,
#menu-2d .nav-dropdown-sm .dropdown-item:focus,
#menu-2d .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2d .navbar,
#menu-2d .nav-dropdown-sm,
#menu-2d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2d .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2d .bg-color.transparent.opened .link:hover,
#menu-2d .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-2d .link[aria-expanded="true"],
#menu-2d .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#contacts1-2e STRONG {
  color: #00a885;
}
#menu-2g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2g .navbar-caption {
  color: #ffffff;
}
#menu-2g .navbar-toggler {
  color: #ffffff;
}
#menu-2g .close-icon::before,
#menu-2g .close-icon::after {
  background-color: #ffffff;
}
#menu-2g .link,
#menu-2g .dropdown-item {
  color: #ffffff;
}
#menu-2g .link {
  font-size: 0.75rem;
}
#menu-2g .dropdown-item,
#menu-2g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2g .link:hover,
#menu-2g .dropdown-item:hover,
#menu-2g .link:focus,
#menu-2g .dropdown-item:focus {
  color: #16fae9;
}
#menu-2g .link[aria-expanded="true"],
#menu-2g .dropdown-menu {
  background: #0e0e0e;
}
#menu-2g .nav-dropdown-sm .link:focus,
#menu-2g .nav-dropdown-sm .link:hover,
#menu-2g .nav-dropdown-sm .dropdown-item:focus,
#menu-2g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2g .navbar,
#menu-2g .nav-dropdown-sm,
#menu-2g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2g .bg-color.transparent.opened .link:hover,
#menu-2g .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-2g .link[aria-expanded="true"],
#menu-2g .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#contacts1-2i STRONG {
  color: #00a885;
}
#menu-2j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2j .navbar-caption {
  color: #ffffff;
}
#menu-2j .navbar-toggler {
  color: #ffffff;
}
#menu-2j .close-icon::before,
#menu-2j .close-icon::after {
  background-color: #ffffff;
}
#menu-2j .link,
#menu-2j .dropdown-item {
  color: #ffffff;
}
#menu-2j .link {
  font-size: 0.75rem;
}
#menu-2j .dropdown-item,
#menu-2j .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2j .link:hover,
#menu-2j .dropdown-item:hover,
#menu-2j .link:focus,
#menu-2j .dropdown-item:focus {
  color: #16fae9;
}
#menu-2j .link[aria-expanded="true"],
#menu-2j .dropdown-menu {
  background: #0e0e0e;
}
#menu-2j .nav-dropdown-sm .link:focus,
#menu-2j .nav-dropdown-sm .link:hover,
#menu-2j .nav-dropdown-sm .dropdown-item:focus,
#menu-2j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2j .navbar,
#menu-2j .nav-dropdown-sm,
#menu-2j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2j .bg-color.transparent.opened .link:hover,
#menu-2j .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-2j .link[aria-expanded="true"],
#menu-2j .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#contacts1-2l STRONG {
  color: #00a885;
}
#menu-2m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2m .navbar-caption {
  color: #ffffff;
}
#menu-2m .navbar-toggler {
  color: #ffffff;
}
#menu-2m .close-icon::before,
#menu-2m .close-icon::after {
  background-color: #ffffff;
}
#menu-2m .link,
#menu-2m .dropdown-item {
  color: #ffffff;
}
#menu-2m .link {
  font-size: 0.75rem;
}
#menu-2m .dropdown-item,
#menu-2m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2m .link:hover,
#menu-2m .dropdown-item:hover,
#menu-2m .link:focus,
#menu-2m .dropdown-item:focus {
  color: #16fae9;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-menu {
  background: #0e0e0e;
}
#menu-2m .nav-dropdown-sm .link:focus,
#menu-2m .nav-dropdown-sm .link:hover,
#menu-2m .nav-dropdown-sm .dropdown-item:focus,
#menu-2m .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2m .navbar,
#menu-2m .nav-dropdown-sm,
#menu-2m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2m .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2m .bg-color.transparent.opened .link:hover,
#menu-2m .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#contacts1-2o STRONG {
  color: #00a885;
}
#menu-2p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2p .navbar-caption {
  color: #ffffff;
}
#menu-2p .navbar-toggler {
  color: #ffffff;
}
#menu-2p .close-icon::before,
#menu-2p .close-icon::after {
  background-color: #ffffff;
}
#menu-2p .link,
#menu-2p .dropdown-item {
  color: #ffffff;
}
#menu-2p .link {
  font-size: 0.75rem;
}
#menu-2p .dropdown-item,
#menu-2p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2p .link:hover,
#menu-2p .dropdown-item:hover,
#menu-2p .link:focus,
#menu-2p .dropdown-item:focus {
  color: #16fae9;
}
#menu-2p .link[aria-expanded="true"],
#menu-2p .dropdown-menu {
  background: #0e0e0e;
}
#menu-2p .nav-dropdown-sm .link:focus,
#menu-2p .nav-dropdown-sm .link:hover,
#menu-2p .nav-dropdown-sm .dropdown-item:focus,
#menu-2p .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2p .navbar,
#menu-2p .nav-dropdown-sm,
#menu-2p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2p .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2p .bg-color.transparent.opened .link:hover,
#menu-2p .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-2p .link[aria-expanded="true"],
#menu-2p .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#contacts1-2r STRONG {
  color: #00a885;
}
#menu-2s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2s .navbar-caption {
  color: #ffffff;
}
#menu-2s .navbar-toggler {
  color: #ffffff;
}
#menu-2s .close-icon::before,
#menu-2s .close-icon::after {
  background-color: #ffffff;
}
#menu-2s .link,
#menu-2s .dropdown-item {
  color: #ffffff;
}
#menu-2s .link {
  font-size: 0.75rem;
}
#menu-2s .dropdown-item,
#menu-2s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2s .link:hover,
#menu-2s .dropdown-item:hover,
#menu-2s .link:focus,
#menu-2s .dropdown-item:focus {
  color: #16fae9;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-menu {
  background: #0e0e0e;
}
#menu-2s .nav-dropdown-sm .link:focus,
#menu-2s .nav-dropdown-sm .link:hover,
#menu-2s .nav-dropdown-sm .dropdown-item:focus,
#menu-2s .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2s .navbar,
#menu-2s .nav-dropdown-sm,
#menu-2s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2s .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2s .bg-color.transparent.opened .link:hover,
#menu-2s .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#contacts1-2u STRONG {
  color: #00a885;
}
#menu-2v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2v .navbar-caption {
  color: #ffffff;
}
#menu-2v .navbar-toggler {
  color: #ffffff;
}
#menu-2v .close-icon::before,
#menu-2v .close-icon::after {
  background-color: #ffffff;
}
#menu-2v .link,
#menu-2v .dropdown-item {
  color: #ffffff;
}
#menu-2v .link {
  font-size: 0.75rem;
}
#menu-2v .dropdown-item,
#menu-2v .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2v .link:hover,
#menu-2v .dropdown-item:hover,
#menu-2v .link:focus,
#menu-2v .dropdown-item:focus {
  color: #16fae9;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-menu {
  background: #0e0e0e;
}
#menu-2v .nav-dropdown-sm .link:focus,
#menu-2v .nav-dropdown-sm .link:hover,
#menu-2v .nav-dropdown-sm .dropdown-item:focus,
#menu-2v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2v .navbar,
#menu-2v .nav-dropdown-sm,
#menu-2v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2v .bg-color.transparent.opened .link:hover,
#menu-2v .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#contacts1-2x STRONG {
  color: #00a885;
}
#menu-2y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2y .navbar-caption {
  color: #ffffff;
}
#menu-2y .navbar-toggler {
  color: #ffffff;
}
#menu-2y .close-icon::before,
#menu-2y .close-icon::after {
  background-color: #ffffff;
}
#menu-2y .link,
#menu-2y .dropdown-item {
  color: #ffffff;
}
#menu-2y .link {
  font-size: 0.75rem;
}
#menu-2y .dropdown-item,
#menu-2y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2y .link:hover,
#menu-2y .dropdown-item:hover,
#menu-2y .link:focus,
#menu-2y .dropdown-item:focus {
  color: #16fae9;
}
#menu-2y .link[aria-expanded="true"],
#menu-2y .dropdown-menu {
  background: #0e0e0e;
}
#menu-2y .nav-dropdown-sm .link:focus,
#menu-2y .nav-dropdown-sm .link:hover,
#menu-2y .nav-dropdown-sm .dropdown-item:focus,
#menu-2y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2y .navbar,
#menu-2y .nav-dropdown-sm,
#menu-2y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2y .bg-color.transparent.opened .link:hover,
#menu-2y .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-2y .link[aria-expanded="true"],
#menu-2y .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#contacts1-30 STRONG {
  color: #00a885;
}
#menu-31 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-31 .navbar-caption {
  color: #ffffff;
}
#menu-31 .navbar-toggler {
  color: #ffffff;
}
#menu-31 .close-icon::before,
#menu-31 .close-icon::after {
  background-color: #ffffff;
}
#menu-31 .link,
#menu-31 .dropdown-item {
  color: #ffffff;
}
#menu-31 .link {
  font-size: 0.75rem;
}
#menu-31 .dropdown-item,
#menu-31 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-31 .link:hover,
#menu-31 .dropdown-item:hover,
#menu-31 .link:focus,
#menu-31 .dropdown-item:focus {
  color: #16fae9;
}
#menu-31 .link[aria-expanded="true"],
#menu-31 .dropdown-menu {
  background: #0e0e0e;
}
#menu-31 .nav-dropdown-sm .link:focus,
#menu-31 .nav-dropdown-sm .link:hover,
#menu-31 .nav-dropdown-sm .dropdown-item:focus,
#menu-31 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-31 .navbar,
#menu-31 .nav-dropdown-sm,
#menu-31 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-31 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-31 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-31 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-31 .bg-color.transparent.opened .link:hover,
#menu-31 .bg-color.transparent.opened .link:focus {
  color: #16fae9;
}
#menu-31 .link[aria-expanded="true"],
#menu-31 .dropdown-item[aria-expanded="true"] {
  color: #16fae9!important;
}
#contacts1-33 STRONG {
  color: #00a885;
}
